.files {
  width: 100%;
  /* height: 80vh; */
  margin: 15px;
  border: 1px solid black;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.files__inputContainer {
  border: 2px dashed #fff;
  height: 60%;
  margin: 15px;
  display: block;
}

.files__fileNameContainer {
  border: 2px solid #fff;
  height: 60%;
  margin: 15px;
  display: none;
}

.files__input {
  display: none;
}

.files__inputLabel {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.files__inputLabel:hover {
  background-color: #54616427;
}

.files__btn {
  display: block;
  width: 80%;
  border: none;
  margin: 0 auto;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  background-color: #9ab3c1;
}

.files__btn:hover {
  background-color: #b9cad4;
}

.files__btn:active {
  background-color: #c7d4db;
}

.files__fileResults {
  padding: 10px;
  font-size: 10px;
}

.fileItem {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin: 5px;
  align-items: center;
  font-size: 10px;
}

.thumbnail {
  margin: 5px;
  border-radius: 5px;
  background-color: #fff;
  padding: 5px;
}

.thumbnail > img {
  width: 25px;
}
