.files {
  width: 100%;
  margin: 15px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.files__inputContainer {
  border: 2px dashed #fff;
  height: 60%;
  margin: 15px;
  /* display: none; */
}

.files__fileNameContainer {
  max-height: 400px;
  min-width: 50%;
  padding: 20px;
  width: 90%;
  overflow: auto;
  background: #3a5c65;
  border-radius: 6px;
  margin: 15px auto;
  display: block;
}

.files__fileNameContainer::-webkit-scrollbar {
  width: 3px;
}

.files__fileNameContainer::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

.files__fileNameContainer::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.files__input {
  display: none;
}

.files__inputLabel {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.files__inputLabel:hover {
  background-color: #54616427;
}

.files__btn {
  display: block;
  width: 80%;
  border: none;
  margin: 0 auto;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  background-color: #9ab3c1;
}

.files__btn:hover {
  background-color: #b9cad4;
}

.files__btn:active {
  background-color: #c7d4db;
}

.files__fileResults {
  padding: 10px;
  font-size: 10px;
}

.fileItem {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin: 5px;
  align-items: center;
  font-size: 10px;
  border-radius: 5px;
}

.fileItem:hover {
  background-color: #ffffff21;
}

.fileItem > div {
  margin: 5px;
  max-width: 200px;
  word-wrap: break-word;
}

.thumbnail {
  margin: 5px;
  border-radius: 5px;
  background-color: #fff;
  padding: 5px;
}

.thumbnail > img {
  width: 25px;
}

.imageName {
  font-family: "Lato", sans-serif;
  font-size: 10px;
}

.deletePhotoBtn {
  color: crimson;
  cursor: pointer;
}

.deletePhotoBtn:hover {
  color: hsl(348, 83%, 67%);
}

.thumbnailImg {
  cursor: pointer;
}


.titleImage {
  max-width: 150px;;
  font-size: 16px;
}