body {
  margin: 0;
  color: #fff;
}

.main {
  background-color: #18333a;
  width: 100%;
}

.webPcontainer {
  display: flex;
  justify-content: space-around;
}

.global-h2 {
  text-align: center;
  padding: 0;
  margin: 0;
}

.global-h2--margin {
  margin-top: 20px;
}