.navigationBtn {
  width: 100%;
  background-color: #c0c0c0;
  display: flex;
  height: 50px;
  cursor: pointer;
  justify-content: space-between;
  -webkit-app-region: drag;
}

.navigationBtn__container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navigationBtn__buttonsContainer {
  display: flex;
}

.navigationBtn__button {
  margin-right: 5px;
  width: 40px;
  height: 65%;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 0, 0, 0);
  -webkit-app-region: no-drag;
  transition: ease 0.5s;
}

.navigationBtn__button:hover {
  background-color: rgba(242, 242, 242, 0.788);
  transition: ease 0.5s;
}

.navigationBtn__button--last {
  margin-right: 10px;
}

.navigationBtn__img {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-app-region: no-drag;
}

.navigationBtn__icon {
  width: 30px;
  margin-left: 50px;
  transition: ease 0.2s;
}
.navigationBtn__icon:hover {
  width: 50px;
}
